<br>
<h3>Members</h3>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total of Members</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_of_members}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delived">
                <div class="card-header">
                    <h5>Total  Members Aproved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{memberaproved}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5>Total Members Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{memberpending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h3>Mentors</h3>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total of Mentors</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_of_mentors}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delived">
                <div class="card-header">
                    <h5>Total of Mentors Aproved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{mentoraproved}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5>Total Mentors Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{mentorpending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>




